.selectionGrid {
  width: 100%;
  display: grid;
  grid-auto-rows: min-content;
  max-height: 31vh;
  gap: 2px;

  overflow: scroll;
}

.portraitImage {
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  text-overflow: ellipsis;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 11px;
}

.details > h1 {
  margin: 0;
}

.portraitImage > img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

.bigPortrait {
  object-fit: contain;
  width: 100%;
  overflow: hidden;
  max-height: 30vh;
}
