.selectionGrid {
  height: 100%;
  width: 100%;
  display: flex;
  /* FIXME: use grid instead */
  min-height: 400px;
  max-height: 0.3vh;

  flex-wrap: wrap;
  overflow: scroll;
}

.portraitImage {
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 11px;
}

.details > h1 {
  margin: 0;
}

.portraitImage > img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

.bigPortrait {
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}
