.selectionGrid {
  height: 100%;
  width: 100%;
  display: flex;
  /* FIXME: use grid instead */
  min-height: 400px;
  max-height: 0.3vh;
  padding: 8px;

  flex-wrap: wrap;
  overflow: scroll;
}

.portraitImage {
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
}

.portraitImage > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
