.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hoverable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.hoverable:hover {
  color: var(--fg-hover);
  fill: var(--fg-hover);
  stroke: var(--fg-hover);
  border-color: var(--fg-hover);
}
