.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hoverable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.hoverable:hover {
  color: var(--fg-hover);
  fill: var(--fg-hover);
  stroke: var(--fg-hover);
  border-color: var(--fg-hover);
  background-color: var(--bg-1-hover);
}

.hoverable-red:hover {
  color: rgba(156, 0, 0, 0.6);
  fill: var(--fg-hover);
  stroke: var(--fg-hover);
  border-color: var(--fg-hover);
  background-color: var(--bg-1-hover);
}

.invalidInput {
  outline: 1px solid #ee2222;
  width: 6em;
}

.invalidInputMessage {
  color: #ee2222;
}

.inline-code {
  display: inline;
  font-family: monospace;
}

.tutorial-highlighted {
  box-shadow: 0 0 4px 4px #ffff00 !important;
  z-index: 1;
}

.tutorial-highlighted[data-tut-inset] {
  box-shadow: inset 0 0 4px 4px #ffff00 !important;
}

.rel-anchor {
  position: relative;
}

.propagate-size {
  height: 100%;
  width: 100%;
}

.newButton {
  padding: 0.7em;
  height: 1em;
  border: 1px solid var(--fg-1);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.8);
  border-radius: 2px;
}

::-webkit-scrollbar:hover {
  width: 8px; /* doesn't work on chromium */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(256, 100, 10, 0.8);
}
