.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hoverable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.hoverable:hover {
  color: var(--fg-hover);
  fill: var(--fg-hover);
  stroke: var(--fg-hover);
  border-color: var(--fg-hover);
  background-color: var(--bg-1-hover);
}

.newButton {
  padding: 0.7em;
  height: 1em;
  border: 1px solid var(--fg-1);
  border-radius: 5px;
}

