:root {
  --background-rgb: 18, 18, 24;
  --body-rgb:       239, 239, 239;
}
// HACK: sass type-checks the rgb function's arguments, not realizing
// the css vars expand to three args, so need to literal interp for now
$body:            #{'rgb(var(--body-rgb))'};
$body-var:            var(--body-rgb);
$background:      #{'rgb(var(--background-rgb))'};
$background-var:      var(--background-rgb);
