
:root {
  /* maybe? */
  /* @media only screen { */

  @media (max-width: 8in) {
    --text-width: fit-content;
    /** must be used with calc */
    --horiz-padding-eqt: 22px;
  }

  @media (min-width: 8in) {
    --text-width: 8in;
    /** must be used with calc */
    --horiz-padding-eqt: ((100vw - var(--text-width))/2);
  }
}

p {
  margin-left: calc(var(--horiz-padding-eqt));
  margin-right: calc(var(--horiz-padding-eqt));
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

