
.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.hoverable:hover {
  color: var(--hover);
  fill: var(--hover);
  stroke: var(--hover);
  border-color: var(--hover);
  background-color: var(--hover);
}

