
.contextMenuRoot {
  display: initial;
  position: fixed;
  pointer-events: all;
  z-index: 100;
}

.contextMenuOptions {
  box-shadow: var(--fg-1) 0 0 3px 1px;
  background-color: var(--bg-1);
  display: grid;
  grid-template-columns: 1fr;
  border: 0;
  padding: 5px;
}

.contextMenuOption {
  padding: 3px 0;
}

.contextMenuOption::marker {
  content: '';
}

.contextMenuOption:hover {
  background-color: var(--bg-1-hover);
}
