.selectionGrid {
  width: 100%;
  display: grid;
  grid-auto-rows: min-content;
  max-height: 31vh;
  gap: 2px;

  overflow-y: scroll;
}

.cell {
  border-radius: 5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}
