
.supportedPlatformLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 1in;
}

.supportedPlatformLogos > * {
  width: 20%;
}

.supportedPlatformLogos > *[alt="unity-logo"] {
  width: 32%;
}
