
.supportedPlatformLogos {
  /* FIXME: stable size but centered */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 12in;
  overflow-x: hidden;
  padding: 0 1in;
  gap: 22px;
}

/* I tried my best to balance the image sizes */
.supportedPlatformLogos > * {
  width: 20%;
  min-width: 150px;
}

.supportedPlatformLogos > *[alt="unity-logo"] {
  width: 30%;
}

.supportedPlatformLogos > *[alt="html5-logo"] {
  height: 180px;
}
