[Unit]
Description=alternis v1 backend
After=network.target
Type=simple
Restart=always
# FIXME: use a different user
User=mike

[Service]
ExecStart=/usr/bin/env PORT=3000 /home/mike/.bun/bin/bun /var/www/alternis-v1-deploy-stage/app/backend/lib/run.js
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
