@import "../constants.scss";

// FIXME: use shared css for this common thing
.separate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .left, .right {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    // HACK: spaced items without left buffer
    padding: 22px;
    gap: 22px;

    // FIXME: gross nested CSS... remove
    .navLink {
      &, &:link, &:visited {
        font-size: 2rem;
        @media only screen and (max-width: 700px) {
          font-size: 1.5rem;
        }
        color: $body;
        text-decoration: initial;
        font-style: italic;
        font-weight: 700;
        transition: font-size 100ms ease;
        height: 2.5rem;
        vertical-align: middle;
      }

      &:hover {
        color: orange;
        //font-size: 2.5em;
      }
    }
  }
}
