@import "../constants.scss";

.pageWrapper {
  @media only screen {
    @media (max-width: 700px) {
      padding: 12px;
    }
    @media (min-width: 700px) {
      padding: 1in;
      padding-top: 22px;
    }
  }
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  font-size: 14pt;
  color: $body;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #49a9f9;
  &:visited {
    color: #69a9f9;
  }
  &:active {
    color: #b9b999;
  }
}

h1 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: initial;
}

h1 + h3 {
  margin-top: -8px;
}

hr {
  color: rgba($body-var, 0.3);
}
